.header {
    width: 100%;
    background-color: #ffffff;
    border: 1px solid #ececec;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.17);
}

@import "animation";

.logo-img {
    animation: roll-in-blurred-left 0.65s cubic-bezier(0.230, 1.000, 0.320, 1.000) 1s both;
}

.text_logo {
    text-decoration: none;
    font-family: $site_ff;
    font-size: 27px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.025em;
    color: #222222;
    margin-left: 13px;
}

.text_logo_D {
    font-weight: 900;
    color: #f16d7f;
    margin-right: 25px;
}

.header_flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: auto;
    flex-flow: wrap row;
    margin: 15px auto;
}

.header_left {
    display: flex;
    align-items: center;
}

.search {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    &__form {
        display: flex;
    }
}

.button {
    width: 87px;
    background-color: #cdcdcc;
    background-image: linear-gradient(180.0deg, #f9f9f9 0%, #f5f5f5 100%);
    border: 1px solid #e6e6e6;
    border-radius: 3px 0px 0px 3px;
    text-align: center;
    font-family: $site_ff;
    font-size: 14px;
    height: 32px;
    line-height: 32px;
    font-weight: 300;
    letter-spacing: 0.025em;
    color: #222222;
    text-decoration: none;
    display: block;
    transition: background-color 0.5s, color 0.5s;
}

.button:hover {
    background-image: none;
    background-color: #f16d7f;
    color: #ffffff;
}

.fa-caret-down {
    margin-left: 5px;
    color: #838383;
}

.button:hover .fa-caret-down {
    color: #ffffff;
}

.form {
    width: 281px;
    height: 32px;
    background-color: #ffffff;
    border: 1px solid #e6e6e6;
    display: block;
    outline: none;
    font-family: $site_ff;
    font-size: 14px;
    line-height: 32px;
    font-weight: 300;
    letter-spacing: 0.025em;
    color: #a4a4a4;
    padding-left: 16px;
    padding-right: 10px;
}

.search-form {
    width: 36;
    height: 32px;
    border-radius: 0px 3px 3px 0px;
    background-color: #ffffff;
    border: 1px solid #e6e6e6;
    display: block;
    padding-left: 11px;
    padding-right: 11px;
}

.fa-search {
    font-size: 14px;
    color: #a4a4a4;
}

.search-form:hover .fa-search {
    color: #f16d7f;
}

/* выпадающее меню drop down */

.button-box {
    position: relative;
}

.button-box:hover .drop-box {
    display: block;
}

.drop-box {
    background-color: #FFFFFF;
    border: 1px solid #e8e8e8;
    border-radius: 5px;
    padding: 22px;
    position: absolute;
    top: 32px;
    display: none;
    z-index: 999;
}

.mega_heading {
    width: 235px;
    font-family: $site_ff;
    font-size: 14px;
    line-height: 32px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.025em;
    color: #232323;
    border-bottom: 1px solid #e8e8e8;
    padding-bottom: 8px;
    margin-bottom: 16px;
}

.mega_link {
    display: block;
    font-family: $site_ff;
    font-size: 14px;
    line-height: 28px;
    font-weight: 400;
    text-decoration: none;
    color: #646464;
}

.mega_link:hover {
    color: #f16d7f;
}



.header_right {
    display: flex;
    align-items: center;
}

.header_button {
    height: 32px;
    background-color: #f16d7f;
    font-family: $site_ff;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #ffffff;
    line-height: 32px;
    text-decoration: none;
    padding: 0 19px;
    margin-left: 20px;
    display: block;
    border: 1px solid #f16d7f;
    transition: background-color 0.5s, color 0.5s;
}

.header_button:hover {
    background-color: #ffffff;
    color: #f16d7f;
    border: 1px solid #f16d7f;
}

/* выпадающее меню cart */

.shopping-box {
    position: relative;
}

.shopping-box:hover .cart-box {
    display: block;
}

.cart-box {
    background-color: #FFFFFF;
    border: 1px solid #e8e8e8;
    border-radius: 5px;
    padding: 22px;
    position: absolute;
    top: 32px;
    display: none;
    z-index: 999;
    min-width: 260px;
}

.cart_item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 15px;
    border-bottom: 1px solid #eaeaea;

    &_top {
        margin-top: 15px;
    }
}

.cart-img {
    transition: transform 0.5s, filter 0.5s;
}

.cart-img:hover {
    transform: scale(1.2, 1.2);
    filter: brightness(90%);
}

.cart-prod {
    min-width: 74px;
    margin-left: 14px;
    margin-right: 10px;
}

.cart-name {
    font-family: $site_ff;
    font-size: 12px;
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
    color: #222222;
}

.stars {
    font-size: 12px;
    line-height: 1.2;
    font-weight: 400;
    text-transform: uppercase;
    color: #e4af48;
    justify-content: start;
    margin-top: 10px;
    margin-bottom: 12px;
}


.cart-price {
    font-family: $site_ff;
    font-size: 12px;
    line-height: 1.2;
    font-weight: 400;
    text-transform: uppercase;
    color: #f16d7f;
}

.cart-x {
    font-size: 16px;
    line-height: 1.2;
    font-weight: 400;
    text-transform: uppercase;
    color: #c0c0c0;
}

.cart-total {
    display: flex;
    justify-content: space-between;
    margin-top: 19px;
    margin-bottom: 32px;
}

.total-text {
    display: inline-block;
    font-family: $site_ff;
    font-size: 16px;
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
    color: #222222;
}